.dashboard-page {
    padding: 10px 25px;
}
.dashboard-box-card {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px 20px 10px;

    i {
        font-size: 18px;
    }
}
.dashboard-title-icon {
}
.dashboard-link {
    margin-bottom: 18px;
    font-size: 15px;
}
.dashboard-title {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
