$color-darken-3: rgb(48, 65, 86);
$color-darken-4: rgb(31, 45, 61);

.navbar-container {
    background-color: $color-darken-3 !important;
    color: #FFFFFF !important;

    .v-list-item__spacer {
        width: 10px !important;
    }
    .navbar-link {
        background-color: $color-darken-4 !important;
    }
}

.dashboard-page {
    margin: 20px;

    .v-list {
        padding: 0px;
        background-color: unset;
    }
    .v-list-item {
        padding: 2px 0px;
        height: 32px !important;
        min-height: unset !important;
        padding-inline: 0px;
    }
}
