$color-light-3:  #dee5ed;
$color-light-4: #bdcbdb;
$color-darken-1: #9db0c8;
$color-darken-2: #5c7ca3;
$color-darken-3: #304156;
$color-darken-4: #1f2d3d;

$header-height: 56px;

:root {
  --toastify-toast-width: 640px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
}

.login-page {
    background: $color-darken-2;
    background: radial-gradient(circle, $color-darken-2 0%, $color-darken-4 100%);
}

.navbar-container {
    background-color: $color-darken-3 !important;
    color: #FFFFFF !important;
    width: 255px;

    .v-list-item__spacer {
        width: 10px !important;
    }
    .navbar-link {
        background-color: $color-darken-4 !important;
    }
}

.page-container {
    overflow-x: auto;
}

.dashboard-page {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;

    .dashboard-element {
        display: inline-block;
        vertical-align: top;
        margin: 0px 10px 5px 0px;
    }

    .v-list {
        padding: 0px;
        background-color: unset;
    }
    .v-list-item {
        padding: 2px 0px;
        height: 32px !important;
        min-height: unset !important;
        padding-inline: 0px;
    }
}

.list-page {
    display: block;
    width: 100%;
    .content-row {
        margin: 10px;
        vertical-align: middle;
    }
    .create-button {
        background-color: $color-darken-2;
        color: #FFF;
    }
    .v-input__control {
    }
}

.fields-container {
    .v-tab {
        text-transform: none !important;
    }
    .container-tabs {
        margin-bottom: 20px;
        background-color: $color-light-4;
        color: #000;
    }
    .form-field-container {
        margin: 10px 0px;
    }
}

.v-theme--light {
    .v-data-table__tr:nth-child(2n) {
        .v-data-table__td {
            background-color: #fafafa;
        }
    }
}
.v-theme--dark{
    .v-data-table__tr:nth-child(2n) {
        .v-data-table__td {
            background-color: #242424;;
        }
    }
}

.model-table {
    height: calc(100vh - ($header-height)) !important;
    .table-bottom {
        .list-pagination-per-page {
            display: contents;
            .v-field__field {
                display: contents;
                vertical-align: middle;
            }
            .v-input__details {
                display: none;
            }
            .v-field__input {
                vertical-align: middle;
            }
        }
        .list-pagination {
            vertical-align: middle;
        }
    }
}

.hide-element {
    display: none;
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 14px;
    line-height: 20px;
}
