@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './tags-input.scss';
@import './list.scss';
@import './edit.scss';
@import './model-form.scss';
@import './filters.scss';
@import './inline.scss';
@import './language.scss';
@import './dashboard.scss';
@import './json-editor.scss';
@import './json-forms.scss';

@import '~vue2-datepicker/scss/index.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.list-page-container {
  padding: 20px;
}
.avatar-wrapper {
    margin-top: 0px!important;
}

.submenu-static-link-title {
    font-weight: bold;
}

.settings-icon {
    display: inline-block;
    margin-right: 10px;
    i {
      vertical-align: middle;
      font-size: 22px;
      color: #7f7f80
    }
    i:hover {
      cursor: pointer;
      color: inherit;
      text-decoration: none;
    }
}

.mce-fullscreen {
  .sidebar-container {
    display: none;
  }
}
