.json-editor {
    border: 1px solid #dcdfe6;
    max-width: 900px;
}
.tinymce-container {
    max-width: 900px;
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 12px;
    line-height: 20px;
}
