.languages-block {
    margin-right: 15px;
    display: inline;
    cursor: pointer;
}
.lang-option {
    width: 150px;
    img {
        display: inline;
    }
    span {
        display: inline;
    }
}
.lang-icon {
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}
